
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import url('./couleurs.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    font-size: 16px;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--Green200);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

form{
    background-color:var(--White);
    max-width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
}

form input {
    border: 1px solid var(--Grey500);
    width: 100%;
    border-radius: .3rem;
    padding: 0.5rem;

}

span {
    color: var(--Green600);
}

.attribution { font-size: 11px; text-align: center; margin-top: 1rem;}
.attribution a { color: hsl(228, 45%, 44%); }